<!DOCTYPE html>

{% extends 'homepage.html' %}

{% block body %}
  <h1>{{page_name}}</h1>
  <form class="form-horizontal" action="/{{page_name}}/save" method="post">
    <input type="hidden" name="id" value="{{wiki_page.id}}">
    <div class="form-group">
      <textarea class="form-control" name="content" rows="8" cols="40">{{content | safe}}</textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit" name="save">Save</button>
    </div>
  </form>
{% endblock %}
